<form
  action="https://buttondown.com/api/emails/embed-subscribe/unbreaking.org"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/unbreaking.org', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />

  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.com/refer/unbreaking.org" target="_blank">Powered by Buttondown.</a>
  </p>
</form>

Unbreaking is made by (in alphabetical order): Mandy Brown, Sydette Harry, Erin Kissane, Yvonne Lam, Liz Neeley, Chris Xu, and friends.
